


<div class="jumbotron">
  <img src="https://www.indiewire.com/wp-content/uploads/2016/09/new-york-post.jpg?w=618"></img>
  <hr class="my-4">
  <h5>Click below to scrape the New York Times Website. Save Favorites by clicking save button.</h5>
  <p class="lead">
    <a class="btn btn-success" id="scrape" role="button">SCRAPE</a>
  </p>
</div>




{{!-- beginning of handlebar loop each item var in server.js --}}
{{#each items}}

   <h3>
   
   {{!-- title variable in server.js --}}
   {{title}} 
   
   {{!-- info on button set to id of article, save id button changed saved boolean in database --}}
   <button class="btn btn-info" id="save" info="{{_id}}">SAVE</button>
   
   </h3>

    <p>

   {{!-- link variable in server.js --}}     
   <a href="{{link}}">{{link}}</a>
   
   <br>

   {{!-- summary variable in server.js --}}
   {{summary}}

   </p>

   
{{!-- end of handlebar loop --}}
{{/each}}




{{!-- script for onclick events --}}
<script>
    $("#scrape").on("click", function(){
        $.get("/scrape", function(response){
            console.log(response)
            location.reload()
        })
    })

//delegated event for looping through same id with multiple values
//saves article by changing boolean value to true (or false if already saved)
    $(document).on("click", "#save", function(){

            var id = $(this).attr("info")

            console.log(id)


        {{!-- $.get("/scrape", function(response){
            console.log(response)
            location.reload()
        }) --}}

    })



//   * TO-DO *
// pass the id from post request to a post route in your server
// the post route in the server will take the id and update the article saved boolean
// make another route at /saved that renders all saved articles (another handlebar page)
// loop through and only display saved


</script>



